* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #414141;
}

$primary: #ff823b;
$secondary: #ffe03b;

section.food-selection {
  width: 100%;
  height: 530px;
  background: #362e1d;
  background: radial-gradient(at center top, #362e1d, #010101);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: white;
  font-family: "Nunito", sans-serif;
  letter-spacing: 0.1em;
}

section.food-selection > .container {
  height: 280px;
  width: 1100px;
  display: flex;
  $gap: 0.6em;
  gap: $gap;
  $button-height: 30px;

  .header {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: $gap;

    .top {
      flex-grow: 1;
      background: radial-gradient(
        87.43% 145.5% at 100% 100%,
        rgba(47, 49, 67, 0) 30%,
        rgba(172, 161, 132, 0.12) 100%
      );
      border-radius: 20px 5px 5px 20px;
      font-size: 3rem;
      font-weight: 900;
      letter-spacing: 0;
      display: flex;
      align-items: center;
      padding-left: 30px;
      line-height: 1.2em;
    }

    .button {
      height: $button-height;
      background-color: $primary;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px 5px 5px 20px;
      transition: 0.2s;
      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }
  }

  .right {
    flex-grow: 1;
    display: flex;
    gap: $gap;
    flex-direction: column;
    position: relative;
    .top {
      display: flex;
      gap: $gap;
      flex-grow: 1;
    }

    .top > div {
      background-color: white;
      border-radius: 5px;
      flex-grow: 1;
      background-size: cover;
      background-position: center;
      transition: 0.3s;
    }

    .top > div:last-child {
      border-radius: 5px 20px 20px 5px;
    }

    .buttons {
      height: $button-height;
      width: 100%;
      border: solid white 2px;
      border-radius: 5px 20px 20px 5px;
      display: flex;
    }

    .buttons > div {
      flex-grow: 1;
      flex-basis: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.2s;
    }

    .active {
      color: $secondary;
    }
  }

  .right > .hitboxes {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    gap: $gap;

    div {
      flex-grow: 1;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .right > .border-glow {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $button-height;
    border-radius: 5px 20px 20px 5px;
    border: solid $secondary 2px;
    opacity: 0;
  }
}
